* {
    box-sizing: border-box;
}

body {

}


.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 80%;
    height: 80vh;
    padding: 10px;
    background-color: blue;
    /* flex-direction: column; */
}

.circle {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

.gray {
    background-color: gray;
}
