<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="./stylesheet.css"/>
    </head>
    <body>
        <div class="layout">
            <h1>MAIN</h1>
            {{{body}}}
        </div>

    </body>
</html>
