<div class="view">
    <h1>HOME</h1>
    <!-- <ul>
        {{#each projectsTemplate }}
            <li><a href="/projects/{{ . }}"> {{ . }} </a></li>
        {{/each}}
    </ul> -->
    {{> nav }}
</div>
