* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    width: 500px;
}
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav {
    border: 1px red solid;
}
